<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<div class="ui-g">
  <div class="ui-g-12">
    <p-panel header="Please input image urls here (you can input multiple urls)">
      <div>
        <textarea pInputTextarea [(ngModel)]="inputUrls" [rows]="10" [cols]="100"></textarea>
      </div>
    </p-panel>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-5">
    <p-panel header="Original Images">
      <ng-container *ngIf="inputUrls">
        <ng-container *ngFor="let url of inputUrls.split('\n')">
          <div>
            <img src="{{ url }}" />
          </div>
        </ng-container>
      </ng-container>
    </p-panel>
  </div>
  <div class="ui-g-2">
    <button (click)="process()">Process</button>
  </div>
  <div class="ui-g-5">
    <p-panel header="Images processed by darkflow">
      <ng-container *ngFor="let url of outputUrls">
        <div>
          <img src="{{ url }}" />
        </div>
      </ng-container>
    </p-panel>
  </div>
</div>
